/* @media (max-width: 600px) {
    #desktop {
        display: none;
    }

    #mobile {
        display: block;
    }
}

@media (min-width: 600px) {
    #desktop {
        display: block;
    }

    #mobile {
        display: none;
    }
} */

.header {
    height: 50px;
    text-align: center;
    background-color: #00016d;

}

.mainbanner {
    height: 420px;
    background: url('../../assets/img/login-bg/loginpagebg1.jpg') no-repeat top center;
    overflow: hidden;
    background-color: #00026dc5;
    background-blend-mode: multiply;
    /* background-image: url('../../assets/img/login-bg/loginpagebg.jpg'); */
    direction: rtl;
   

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mainbody{
    background-color: rgb(253, 249, 249);
}
.main-content {
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(175, 175, 175);
    padding: 10px;
    background-color: white;
  }