<mat-card style="background-color: #ffffff; direction: rtl; font-family: iransans;">
  <mat-card-title>
    <h4 style="font-weight: 600;color: #00016d;text-align: center;">
      بازیابی گذرواژه
    </h4>
    <hr>
  </mat-card-title>
  <mat-card-content>


    <div class="container">
      <div class="row">

        <div class="col-lg-6 d-none d-lg-block text-center py-3">
          <img src="../../../../assets/img/gallery/forgot.png" alt="" class="img-fluid" width="300" height="230" />
        </div>
        <div *ngIf="getmobile" class="col-lg-6 col-md-12 bg-white px-4 pt-3">
          <form [formGroup]="form">
            <p class="card-text mb-3" style="text-align: right;">
              لطفا نام کاربری و شماره موبایل خود را وارد کنید و ما کد فعالسازی را به شما ارسال می کنیم.
            </p>
            <mat-form-field class="full-width-input" style="margin:auto;text-align:right;width: 100%; direction:rtl;">
              <input matInput placeholder=" نام کاربری" formControlName="username" required style="font-size: 12px;">
              <mat-error *ngIf="isFieldInvalid('username')">
                لطفا نام کاربری خود را وارد کنید!
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input" style="margin:auto;text-align:right;width:100%; direction:rtl;">
              <input matInput placeholder=" تلفن همراه" formControlName="mobilenumber" required
                style="font-size: 12px;">
              <mat-error *ngIf="isFieldInvalid('mobilenumber')">
                لطفا شماره تلفن همراه خود را وارد کنید!
              </mat-error>
            </mat-form-field>
            <div class="fg-actions d-flex justify-content-between">
              <div class="login-btn">
                <button id="butt1" mat-raised-button color="accent"
                  style="font-size: 12px;font-family:iransans;margin:10px ;width: 70px;" (click)="sendsms()">ارسال
                  کد</button>
                <button id="butt1" mat-raised-button color="primery"
                  style="font-size: 12px;font-family:iransans;margin:10px ;width: 70px;"
                  (click)="close()">انصراف</button>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="getsms" class="col-lg-6 col-md-12 bg-white px-4 pt-3">
          <h4 class="card-title mb-2">بازیابی گذرواژه</h4>

          <p class="card-text mb-3">
            لطفا کد ارسالی از طریق پیامک را وارد نمائید.

          </p>
          <div *ngIf="errbox" class="alert alert-danger" role="alert">
            <strong>{{errmsg}} </strong>
          </div>
          <div class="row">
            <input style="width:80%;height: 40px;" [(ngModel)]="smscode" type="text" class="form-control mb-3"
              placeholder="کد ارسالی" />
            <button style="width: 20%;height: 40px;" class="btn btn-outline-warning" (click)="sendsms()">
              <a class="text-decoration-none" style="font-size: 0.5rem;">
                ارسال مجدد
              </a>
            </button>
          </div>
          <div class="fg-actions d-flex justify-content-between">
            <div class="login-btn">
              <button id="butt1" mat-raised-button color="accent"
                style="font-size: 12px;font-family:iransans;margin:10px ;width: 70px;" (click)="checksms()">تائید
                کد</button>
              <button id="butt1" mat-raised-button color="primery"
                style="font-size: 12px;font-family:iransans;margin:10px ;width: 70px;" (click)="close()">انصراف</button>
            </div>
          </div>
        </div>
        <div *ngIf="changepass" class="col-lg-6 col-md-12 bg-white px-4 pt-3">
          <h4 class="card-title mb-2">بازیابی گذرواژه</h4>
          <p class="card-text mb-3">
            لطفا گذرواژه جدید خود را وارد نمائید.
          </p>
          <div *ngIf="errbox" class="alert alert-danger" role="alert">
            <strong>{{errmsg}} </strong>
          </div>
          <div class="row">
            <input #x style="width: 90%;height: 40px;" [(ngModel)]="pass1" [type]="showpass ? 'text' : 'password'"
              class="form-control mb-3" placeholder="گذرواژه" />
            <div  style="width: 10%;height: 40px;margin: auto;text-align: center;"
              (click)="x.type=x.type=='password'?'text':'password'">
              <span *ngIf="x.type=='text'">
                <i class="fa fa-eye"></i>
              </span>
              <span *ngIf="x.type=='password'">
                <i class="fa fa-eye-slash"></i>
              </span>
            </div>
          </div>
          <div class="row">
       
            <input #y style="width: 90%;height: 40px;" 
            [(ngModel)]="pass2" [type]="showpass ? 'text' : 'password'" 
              class="form-control mb-3" placeholder="تکرار گذرواژه" />
      
            <div  style="width: 10%;height: 40px;margin: auto;text-align: center;"
              (click)="y.type=y.type=='password'?'text':'password'">
              <span *ngIf="y.type=='text'">
                <i class="fa fa-eye"></i>
              </span>
              <span *ngIf="y.type=='password'">
                <i class="fa fa-eye-slash"></i>
              </span>
            </div>
          </div>
          <div class="fg-actions d-flex justify-content-between">
            <div class="login-btn">
              <button id="butt1" mat-raised-button color="accent"
                style="font-size: 12px;font-family:iransans;margin:10px ;width: 70px;" (click)="changepass1()">تائید
                کد</button>
              <button id="butt1" mat-raised-button color="primery"
                style="font-size: 12px;font-family:iransans;margin:10px ;width: 70px;" (click)="close()">انصراف</button>
            </div>
          </div>
        </div>
        <div *ngIf="passok" class="col-lg-6 col-md-12 bg-white px-4 pt-3">
          <h4 class="card-title mb-2">بازیابی گذرواژه</h4>
          <p class="card-text mb-3">
            گذرواژه با موفقیت تغییر یافت لطفا برای ورود به سامانه به صفحه اصلی بازگردید
          </p>
          <div class="row" style="margin:auto">
            <button class="btn btn-outline-primary" (click)="close()">
              <a class="text-decoration-none" [routerLink]="['']">بازگشت به صفحه ورود</a>
            </button>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>