.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .discription>p {

    font-size: 12px;
    color: black;
}

.discription>h2 {
    font-size: 16px;
    color: rgb(64, 22, 119);
}

.banner {
    width: 100%;
    flex: 50%;
    border-radius: 10px;
    background-image: url('../../../assets/images/4565.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  background-color: #4cb53f;
  cursor: pointer;
  color: white;
}
.custom-brand-file-upload {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  background-color: #4cb53f;
  cursor: pointer;
  color: white;
}



::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    width: 110% !important;
    border-radius: 8px !important;
    padding: 0.75em 0.75em 0 0.75em !important;
    background-color: white !important;
    border: whitesmoke 1px solid !important;
}

::ng-deep .ng2-smart-pagination  ::ng-deep.ng2-smart-page-item
::ng-deep.ng2-smart-page-link.page-link{
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    font-size: 10px !important;
    border: 0px solid white !important;
    border-radius: 0px !important;
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
}

.showbrand{
  color: rgb(45, 45, 226);
  cursor: pointer;
}

.showbrand:hover{
  color: rgb(0, 0, 182);
  font-weight: 500;
  cursor: pointer;
}