<mat-card style="background-color: #ffffff;font-family: iransans;direction: rtl;overflow-y: auto;">
  <mat-card-title>
    <h4 style="font-family:iransans;font-weight: 600;color: #00016d;text-align: center;">{{titleOfDialog}} </h4>
    <hr>

  </mat-card-title>
  <mat-card-content>
    <div class="container-fluid" style="margin: auto;text-align: center;">
      <form [formGroup]="form">
        <h5 style="font-family:iransans ;margin: auto;font-size: 14px;font-weight: 500;">
          لطفا اطلاعات زیر را تکمیل نمائید
        </h5>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
          [(ngModel)]="selectedKind" (change)="radioselect($event)">
          <mat-radio-button class="example-radio-button" *ngFor="let kinds of serviceKind" [value]="kinds.id"
            style="padding-left: 5px;">
            <h6 style="padding-right: 10px;padding-top:5px;font-size:12px">{{kinds.title}}</h6>
          </mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="full-width-input"
          style="margin:auto;text-align:right;width: 100%; margin: 10px; direction:rtl;font-family:iransans ;">
          <input matInput placeholder="عنوان مشکل" formControlName="problemTitle" required style="font-size: 12px;">
          <mat-error *ngIf="isFieldInvalid('problemTitle')">
            لطفا عنوان مشکل را وارد کنید!
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input"
          style="margin:auto;text-align:right;margin: 10px; direction:rtl;font-family:iransans ;">
          <input matInput type="number" placeholder="کمترین هزینه (ريال)" formControlName="lowPrice" required
            style="font-size: 12px;">
          <mat-error *ngIf="isFieldInvalid('lowPrice')">
            لطفا میزان کمترین هزینه را وارد کنید!
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input"
          style="margin:auto;text-align:right;margin: 10px; direction:rtl;font-family:iransans ;">
          <input matInput type="number" placeholder="بیشترین هزینه (ريال)" formControlName="highPrice" required
            style="font-size: 12px;">
          <mat-error *ngIf="isFieldInvalid('highPrice')">
            لطفا میزان بیشترین هزینه را وارد کنید!
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input"
          style="margin:auto;text-align:right;width: 100%;margin: 10px; direction:rtl;font-family:iransans ;">
          <textarea matInput placeholder="توضیحات" formControlName="description" required
            style="font-size: 12px;"></textarea>
          <mat-error *ngIf="isFieldInvalid('description')">
            لطفا توضیحات را وارد کنید!
          </mat-error>
        </mat-form-field>


        <div class="row">
          <div class="col-md-12" style="margin:auto;text-align: center;font-family:iransans;direction: rtl;">

            <button id="butt1" mat-raised-button color="accent"
              style="font-size: 12px;font-family:iransans;margin:10px ;width: 70px;" (click)="create()">{{buttonTitle}}
            </button>
            <button id="butt1" mat-raised-button color="primery"
              style="font-size: 12px;font-family:iransans;margin:10px ;width: 70px;" (click)="close()">انصراف</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>