<div id="desktop" class="container-fluid" style="direction: rtl;font-family:
    iransans;">
    <div class="row" style="height: 50px;">
        <div class="col-sm-10" style="margin: auto;">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="#">
                    <strong style="color: red;"> اینانلو سرویس</strong>
                </a>
                <button class="navbar-toggler" type="button" (click)="toggleNavbar()" style="float:right;">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" [ngClass]="{ 'show':
                    navbarOpen }">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'/home/order'" style="float:
                                right;font-family: iransans;color: rgb(173,
                                146, 173);font-size:12px;">ثبت سفارش</a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-sm-2">
            <div style="display: flex;flex-direction: row;height: 100%;">
                <div class="book">

                    <div class="col-sm-12" style="margin:auto;">
                        <lord-icon src="https://cdn.lordicon.com/slkvcfos.json" trigger="hover"
                            colors="primary:#121331,secondary:#c71f16" stroke="80" style="width:40px;height:40px">
                        </lord-icon>
                    </div>

                </div>

                <div class="book">

                    <lord-icon *ngIf="female" src="https://cdn.lordicon.com/bwnhdkha.json" trigger="hover"
                        colors="primary:#121331,secondary:#c71f16" stroke="70" style="width:40px;height:40px" (click)="profile()">
                        
                    </lord-icon>
                    <lord-icon *ngIf="male" src="https://cdn.lordicon.com/eszyyflr.json" trigger="hover"
                        colors="primary:#121331,secondary:#c71f16" stroke="70" style="width:40px;height:40px">
                    </lord-icon>
                    <!-- <div  class="dropdown" style="direction: rtl;">
                        <img src="../../assets/img/profile.png" style="cursor: pointer;
                    width: 50px;height: 50px;border-radius: 50%;"> -->

                        <!-- <div class="dropdown-content">
                            <a [routerLink]="'/home/profile/customer'">پنل کاربری</a>
                            <a href="#">تغییر گذرواژه</a>
                            <a href="#">خروج</a>
                        </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mobile" class="container-fluid" style="direction: rtl;font-family:
    iransans;background-color:#fff">
    <nav class="navbar navbar-expand-md" style="direction: ltr;background-color:
    #fff">
        <div class="navbar-brand" style="margin: auto;text-align: center;">
            <a tyle="color: red;">
                اینانلو سرویس
            </a>
            <br>

        </div>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" style="float:right;">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{ 'show':
            navbarOpen }">
            <ul class="navbar-nav">
                <li *ngIf="!isauth" class="nav-item">
                    <a class="nav-link" style="float:
                        right;font-family: iransans;color: rgb(228, 214,
                        228);font-size:16px;">ورود</a>
                </li>
                <li *ngIf="isauth" class="nav-item">
                    <a class="nav-link" style="float:
                        right;font-family: iransans;color: rgb(228, 214,
                        228);font-size:16px;">صفحه کاربری</a>
                </li>
                <li *ngIf="isauth" class="nav-item">
                    <a class="nav-link" style="float:
                        right;font-family: iransans;color: rgb(228, 214,
                        228);font-size:16px;">خروج</a>
                </li>
            </ul>
        </div>
    </nav>
</div>