<body>
  <div class="searchCustomer">
    <div class="main header" style="direction: rtl;">
      <div class="banner">
      </div>
      <div class="headerbox">
        <div class="discription">
          <h5>تکنسین‌ها</h5>
          <p align="justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
            است،
            چاپگرها و متون بلکه
            روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با
            هدف
            بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
            متخصصان
            را
            می طلبد.</p>
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" style="margin: 10px;width: 150px;" (click)="CreateTech()">ایجاد
          تکنسین جدید</button>
      </div>
    </div>   
  </div>
  <mat-accordion class="example-headers-align" multi style="z-index: 100;direction: rtl;">
    <mat-expansion-panel style="margin: 10px;" [(expanded)]="openAccordion">
      <mat-expansion-panel-header *ngIf="!openAccordion">
        <mat-panel-title>
          <div class="title">
            <h6 style="margin: auto;"> انتخاب تکنسین </h6>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="table">
        <div class="container" style="background-color: white">
          <div class="col-sm-12" style="direction: rtl;">
            <ng2-smart-table [settings]="techincianTable" [source]="technicianTablevalue" id="excel-table"
              style="font-family: 'iransans'" style="font-family: 'iransans'" (custom)="TableAction($event)">
            </ng2-smart-table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="customerdetails" style="direction: rtl;">
    <div *ngFor="let pro of profiles" class="details"
      style="margin: 10px; padding: 10px; border: 1px solid rgb(221, 221, 242);border-radius:8px 8px 0px 0px ;">
      <div
        style="width: 100%;background-color:rgb(221, 221, 242);border-radius:8px 8px 0px 0px ;height:50px;display: flex;align-items: center;">
        <h5 style="margin: auto; text-align: center;">{{selectedtechnician}}</h5>
        <i class="fa fa-minus" style="color: hsl(0, 0%, 0%);margin-left:20px;float: left;cursor: pointer;"
          (click)="CancelProfile()"></i>
      </div>
      <app-technicianProfile [showBanner]="false" [userID]="pro"></app-technicianProfile>
    </div>
  </div>
</body>

