<cdk-accordion class="example-accordion">
    <cdk-accordion-item *ngFor="let item of menu; let index = index;" #accordionItem="cdkAccordionItem"
        class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index" >
        <div class="example-accordion-item-header" tabindex="1" (click)="accordionItem.toggle()">
            <div (click)="menuclick(item.name)" style="width: 100%;height: 100%;">
                {{ item.name }}
            </div>
        </div>
        <div class="example-accordion-item-body" tabindex="2" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index"
            *ngFor="let sub of item.submenu; let subindex = index;">
            <div (click)="menuclick(sub.sub)">
                {{sub.sub}}
            </div>
        </div>
    </cdk-accordion-item>
</cdk-accordion>