<div style="direction: rtl;min-height: 300px;display: flex;flex-direction: row;">
    <div class="left-drawer" style="width: 25%;">
        <div *ngIf="showchats" class="users-pane">
            <mat-card class="users-card" *ngFor="let user of users">
                <mat-icon>person</mat-icon> {{user.fullname}}
            </mat-card>
        </div>

        <div *ngIf="!showchats" class="users-pane">
            <mat-card class="users-card" *ngFor="let user of users">
                <mat-icon>person</mat-icon> {{user.fullname}}
            </mat-card>
        </div>

    </div>
    <div class="chat-pane" style="width: 75%;">
        <div #chatcontent [scrollTop]="scrolltop" class="chat-content">
            <div class="message-box" *ngFor="let chat of chats">
                <div class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';else message">
                    <span class="chat-date">{{chat.date | date:'short'}}</span>
                    <span class="chat-content-center">{{chat.message}}</span>
                </div>
                <ng-template #message>
                    <div class="chat-message">
                        <div class="right-bubble"
                            [ngClass]="{'left-bubble': chat.nickname === nickname, 'right-bubble': chat.nickname !== nickname}">
                            <div
                                [ngClass]="{'left-title': chat.nickname === nickname, 'right-title': chat.nickname !== nickname}">
                                <span class="msg-name" *ngIf="chat.nickname === nickname">Me</span>
                                <span class="msg-name" *ngIf="chat.nickname !== nickname">{{chat.nickname}}</span>
                                <br>
                                <span class="msg-date"> at {{chat.date | date:'short'}}</span>
                            </div>
                            <p text-wrap>{{chat.message}}</p>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <footer class="sticky-footer">
            <form class="message-form" [formGroup]="chatForm" (ngSubmit)="onFormSubmit(chatForm.value)">
                <mat-form-field class="message-form-field">
                    <input matInput placeholder="پیام خود را وارد نمائید" formControlName="message">
                    <button type="submit" [disabled]="!chatForm.valid" mat-button matSuffix mat-icon-button
                        aria-label="Send" (click)="onFormSubmit(chatForm.value)">
                        <mat-icon>send</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </footer>
    </div>
</div>