<mat-card style="width: 100%;min-height:200px ;">
  <mat-card-content style="display: flex;flex-direction: row;justify-content: space-around;">
    <div class="addresstext" style="display: flex;flex-direction: column;
align-content: space-around;
justify-content: center;direction: rtl;">
      <h3>آدرس:</h3>
      <br>
      <form>
        <div style="display: flex; flex-direction: row;flex-wrap: wrap;">
          <mat-form-field style="direction: rtl;text-align:right; margin: 10px;">
            <mat-label>استان </mat-label>
            <mat-select (selectionChange)="selectprovince($event)" [(value)]="selectedProvince">
              <mat-option *ngFor="let p of province;let i=index" value="{{p.id}}">{{p.provinceName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="direction: rtl;text-align:right; margin: 10px;">
            <mat-label>شهرستان </mat-label>
            <mat-select (selectionChange)="selectshahrestan($event)" [(value)]="selectedCounty">
              <mat-option *ngFor="let sh of shahrestan;let i1=index" value="{{sh.id}}">{{sh.countyName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="direction: rtl;text-align:right; margin: 10px;">
            <mat-label>شهر </mat-label>
            <mat-select (selectionChange)="selectcity($event)"  [(value)]="selectedCity" >
              <mat-option *ngFor="let c of city;let i2=index" value="{{c.id}}">{{c.cityName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width-input" style="width: 300px;">
            <mat-label>منطقه </mat-label>
            <mat-select (selectionChange)="selectregion($event)" [(value)]="selectedRegion">
              <mat-option *ngFor="let r of region;let i3=index" value="{{r.id}}">{{r.regionName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width-input" style="width: 300px;">
            <mat-label>محله </mat-label>
            <mat-select (selectionChange)="selectneighbour($event)" [(value)]="selectedNeighbour">
              <mat-option *ngFor="let n of neighbourhood;let i4=index" value="{{n.id}}">{{n.neighbourhoodName}}</mat-option>
            </mat-select>
          </mat-form-field>

          <form [formGroup]="form">
            <mat-form-field class="full-width-input" style="width: 300px;">
              <input matInput placeholder="خیابان اصلی" formControlName="mainstreet" required style="font-size: 12px;">
              <mat-error *ngIf="isFieldInvalid('mainstreet')">
                لطفا نام کاربر را وارد کنید!
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input" style="width: 300px;">
              <input matInput placeholder="خیابان فرعی" formControlName="substreet" style="font-size: 12px;">

            </mat-form-field>
            <mat-form-field class="full-width-input" style="width: 300px;">
              <input matInput placeholder="کوچه" formControlName="lane" required style="font-size: 12px;">
              <mat-error *ngIf="isFieldInvalid('lane')">
                لطفا نام کاربر را وارد کنید!
              </mat-error>

            </mat-form-field>
            <mat-form-field class="full-width-input" style="width: 300px;">
              <input matInput placeholder="ساختمان" formControlName="building" required style="font-size: 12px;">
              <mat-error *ngIf="isFieldInvalid('building')">
                لطفا نام کاربر را وارد کنید!
              </mat-error>

            </mat-form-field>
         <mat-form-field class="full-width-input" style="width: 300px;">
              <input matInput placeholder="پلاک" formControlName="no" required style="font-size: 12px;">
              <mat-error *ngIf="isFieldInvalid('no')">
                لطفا نام کاربر را وارد کنید!
              </mat-error>

            </mat-form-field>
           <mat-form-field class="full-width-input" style="width: 300px;">
              <input matInput placeholder="واحد"  formControlName="unit" required style="font-size: 12px;">
              <mat-error *ngIf="isFieldInvalid('unit')">
                لطفا نام کاربر را وارد کنید!
              </mat-error>

            </mat-form-field>
           <mat-form-field class="full-width-input" style="width: 300px;">
              <input matInput placeholder="طبقه" formControlName="floor" required style="font-size: 12px;">
              <mat-error *ngIf="isFieldInvalid('floor')">
                لطفا نام کاربر را وارد کنید!
              </mat-error>

            </mat-form-field>
          </form>
        </div>
      </form>
      <div style="direction: rtl;width: 100%;">
        <mat-checkbox [(ngModel)]="isMain" color="warn" (ngModelChange)="ismainSelect(isMain)">
          انتخاب به عنوان آدرس اصلی
        </mat-checkbox>
       
        <a id="showmap" (click)="showmap()" style="margin:20px ;">انتخاب آدرس از روی نقشه</a>
      </div>
      <div *ngIf="showMap" class="addressmap"
        style="margin:20px ;display: flex;flex-direction: row;justify-content: center;">
        <app-map [enable]="mapEnable" [lat]="maplat" [long]="maplong" width="500px" height="300px"
          (newMapEvent)="getmapgeo($event)"></app-map>
        <div id="container">
        </div>
      </div>
      <div style="display: flex; flex-direction: row-reverse; justify-content: end;">
        <button mat-raised-button color="warn" style="margin: 10px;width: 100px;" *ngIf="edit"
          (click)="deleteaddress()">حذف</button>
        <button mat-raised-button color="accent" style="margin: 10px;width: 100px;"
          (click)="saveaddress()">ذخیره</button>
        <button mat-raised-button color="primary" style="margin: 10px;width: 100px;"
          (click)="canceladdress()">انصراف</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>